body {font-family:Verdana, Geneva, Tahoma, sans-serif;}





body {background-color: #FFFFFF;}
body {color: #000000}
h1    {color:#000000}



nav {background-color: #000000;}
nav a {color:#FCDC2A;}
nav a:hover {background-color: #000000;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
h1{ text-align:center ;}
.work {max-width: 100%;}